body {
  font-family: $font-stack;
}
/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

@include media-breakpoint-up(xl) {
  .wp-block-image {
    .alignleft {
      margin-left: -100px;

      .alignwide &,
      .alignfull & {
        margin-left: 0;
      }
    }

    .alignright {
      margin-right: -100px;

      .alignwide &,
      .alignfull & {
        margin-right: 0;
      }
    }
  }
}

.alignwide {
  @include media-breakpoint-up(xl) {
  	margin: 0px calc(25% - 25vw);
    max-width: 90vw;
  }
}

.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

.blue_overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay {
  position: absolute;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

  &--brown {
    background-color: rgba(57, 42, 31, 0.5);
  }
}
