/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');


$slick-loader-path: '~slick-carousel/slick/';
$slick-font-path: '#{$slick-loader-path}fonts/';


$theme-colors: (
  primary: #000
);

$primary-color: #000;
$brown: #3a2a1d;
$light-blue: #c0d0d7;

$primary-font: 'Montserrat', sans-serif;
$font-stack: 'Montserrat', sans-serif;
$font-stack--display:'Montserrat', sans-serif;




/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

