.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .custom-logo-link {
    display: block;
    position: relative;
    z-index: 2;
    padding: 15px 0;
}

#headerbar {
  background-color: $brown;

  > button {
    background-color: transparent;
    border: none;
    color: $white;
  }

  .modal-dialog {
    @include media-breakpoint_up(xl){
      max-width: 100%;
    }
  }

  .modal-content {
    @include media-breakpoint_up(xl){
      max-height: 100%;
      height: 100vh;
    }
  }

  #search {
    position: relative;

    .fa-search {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .search-form {
    label {
      width: 100%;
      border-bottom: 2px solid #000;
      justify-content: left;
    }

    .search-field {
      border: none;
      width: 100%;
    }

    .search-submit {
      display: none;
    }
  }

  @include media_breakpoint_up(xl) {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
  }
}
