/*
	Home page styles
*/

body.home {
  background-position: center top !important;
  background-size: contain !important;

  .main {
    margin-top: 30px;
  }
}

.home-slider {
  width: 60%;
  margin-bottom: 150px;

	.owl-carousel--main {
		background-color: transparent;

		.slide__caption-wrap {
  		position: static;
		}

		.slide__caption {
  		background-color: transparent;
  		color: $brown;
  		text-align: left;
  		font-weight: bold;
  		padding: 0;
  		text-transform: uppercase;
		}

		.owl-dots {
  		display: block;

  		button.owl-dot {
    		background-color: transparent;
    		border: 1px solid $brown;

    		&.active {
      		background-color: $brown;
    		}
  		}
		}
	}

	.slide__background__image {
  	background: none;
  	background-color: transparent;
  	padding: 0;
	}

	.slide__title {
  	background-color: transparent;
  	text-align: left;
  	padding: 0;
  	margin-bottom: 50px;
	}

	.owl-nav {
  	display: none; //arrows
	}
}
