// Pillars Block - Our Work section -

.pillars {
  background-size: cover;
  padding: 10% 0;

  .container__ourwork  h3 {
    max-width: 50%;
    font-size: 34px;
    color: $brown;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .container__ourwork > div {
    max-width: 50%;
    font-size: 22px;
  }

  .pillars-cards {
    max-width: 50%;

  	li {
  		width: 33%;
  		margin-top: 30px;
  		margin-right: 20px;

  		.card-header {
    		height: 180px;
    		width: 180px;
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-color: $brown;
    		opacity: 0.9;
    		border-radius: 50%;

    		.overlay {
      		border-radius: 50%;
      		border: solid 15px #C0D0D7;
          border-color: rgba(192, 208, 215, 0.5);
          //-webkit-background-clip: padding-box; /* for Safari */
          //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    		}
  		}

  		p {
    		font-weight: bold;
    		color: $brown;
    		font-size: 18px;
    		text-align: center;
    		word-break: break-word;
    		padding: 10px;
  		}

  		a:hover,
  		a:focus {
    		text-decoration: none;
    		opacity: 0.8;
  		}
  	}
  }
}


