// slider-publications-block


.owl-carousel.owl-carousel-publications {
  .publication-slide{
    display: flex;

    > div {
      flex: 1;
    }

    img {
      width: auto;
    }

    .publication-cover {
        background-repeat: no-repeat;
        background-size: contain;
	   }
  }
}


