.owl-carousel--main {
  background-color: #000;

  // Slides
  .slide {
    &__background {
      position: relative;
      margin: 0;

      &__image {
        padding-bottom: 90%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-color: #000;
        position: relative;

        @include media-breakpoint-up(lg) {
          padding-bottom: 51%; // 2000 x 1020 aspect ratio
        }
      }
    }

    &__caption-wrap {
      text-align: center;
      padding-bottom: 30px;

      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 3vw;
        left: 0;
        right: 0;
        padding-bottom: 0;
      }
    }

    &__title {
      color: $brown;
      font: 300 24px/1.3 $font-stack;
      display: inline-block;
      margin: 0 0 5px;

      @include font-smoothing;

      @include media-breakpoint-up(md) {
        font-size: 54px;
        background-color: rgba(#000, 0.67);
        padding: 5px 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 60px;
        padding: 5px 26px 7px;
      }
    }

    &__caption {
      color: white;
      font: normal 16px/1.3 $font-stack;
      max-width: 582px;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        font-size: 20px;
        background-color: rgba(#000, 0.67);
        padding: 5px 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 24px;
        padding: 5px 26px 7px;
        max-width: 704px;
      }
    }

    &__btns {
      margin: 5px 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      list-style-type: none;

      li {
        + li {
          margin-left: 1px;
        }
      }

      a {
        display: inline-block;
        background-color: white;
        border: 1px solid rgba(white, 0.17);
        font: normal 14px/1 $font-stack;
        text-transform: uppercase;
        color: #000;
        padding: 10px 20px;
        box-shadow: 0 2px 4px 0 rgba(black, 0.15);
        transition: box-shadow 0.2s;

        @include media-breakpoint-up(md) {
          font-size: 16px;
          padding: 12px 20px 10px;
        }

        &:hover {
          text-decoration: none;
          box-shadow: 0 4px 6px 2px rgba(black, 0.33);
        }
      }

      li:first-child a {
        background-color: rgba(white, 0.42);
      }

      .fa-arrow-right {
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }

  // Arrows
  &.owl-carousel .owl-nav {
    button.owl-next,
    button.owl-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      color: white;
      opacity: 0.33;
      transition: opacity 0.2s;

      @include media-breakpoint-up(xl) {
        font-size: 33px;
      }

      &:hover {
        opacity: 1;
      }
    }

    button.owl-prev {
      left: 10px;

      @include media-breakpoint-up(xl) {
        left: 60px;
      }
    }

    button.owl-next {
      right: 10px;

      @include media-breakpoint-up(xl) {
        right: 60px;
      }
    }
  }

  // Dots
  .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    button.owl-dot {
      width: 10px;
      height: 10px;
      background-color: rgba(white, 0.31);
      margin: 0 5px;
      transition: background-color 0.2s;
      border-radius: 50%;

      &.active {
        background-color: rgba(white, 1);
      }
    }
  }
}

